/* media query untuk smartphone */
@media(max-width:680px){
    input[type=submit]{
        background-color: #6c63ff;
        border: none;
       color: white;
       padding: 16px 32px;
       text-decoration: none;
       margin: 4px 2px;
       border-radius: 20px;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
       margin-top: 10px;
       width: 100%;
    }
    .container-contact{
        margin: 8px;
    }
    .konten-news {
        width: 70%;
        height: 170px;
        margin-bottom: 30px;
    }
    .f {
        padding-bottom: 32px;
    }
    .b {
        padding-bottom: 38px;
        ;
    }
    .panah p {
        display: none;
    }
    .news-wrapper {
        height: 1380px;
    }
    
}

@media(max-width: 1000px) {
    .news-wrapper {
        height: 680px;
    }
    .konten-news {
        width: 40%;
        margin: 5px auto 20px;
    }
}