*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
#contact{
    background-color: #eefbff;
    overflow: auto;
    padding-top: 20px;
}
#contact h1{
    text-align: center;
    font: 30px/50px normal Arial;
}
.container-contact{
    margin-left: 25%;
    margin-right: 25%;
}
input[type=text],input[type=email]{
    border-radius: 4px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  input[type=submit]{
    background-color: #6c63ff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    float: right;
  }
  .news-wrapper {
    width: 100%;
    background-color: #b9e5ee;
    height: 500px;
    text-align: center;
}

.container-news h1 {
    text-align: center;
    font: 30px/50px normal Arial;
    color: black;
    /* color: rgba(66, 63, 84, .9);
    border-bottom: 1.5px solid rgb(10, 10, 53); */
    display: inline-block;
}

.konten-news {
    width: 30%;
    height: 175px;
    overflow: hidden;
    border-radius: 20px;
    text-align: left;
    margin: 0 auto;
    background-color: #f7f9fd;
    /* background: -moz-linear-gradient(45deg, #FFFDFA 0%, #F5F5F5 50%, #FFFDFA 100%);
    background: -webkit-linear-gradient(45deg, #FFFDFA 0%, #F5F5F5 50%, #FFFDFA 100%);
    background: linear-gradient(45deg, #FFFDFA 0%, #F5F5F5 50%, #FFFDFA 100%); */
    box-shadow: 0 0 4px 1px rgba(26, 25, 25, 0.2), 0 0 8px 2px rgba(86, 107, 224, 0.35), 0 0 10px 5px rgba(218, 222, 241, 0.35);
    cursor: pointer;
}

.container-konten-news {
    display: flex;
    width: 80%;
    height: 420px;
    box-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 15px auto 0;
}

.konten-news h2 {
    font: 18px/24px helvetica;
    padding: 15px 20px 0;
    color: rgb(27, 25, 27);
    font-weight: bold;
}

.konten-news p {
    padding: 10px 20px;
    font-size: 15px;
    text-align: justify;
}

.konten-news a {
    text-decoration: none;
    color: rgb(209, 67, 31);
}

.panah i {
    position: absolute;
    top: 5px;
    right: 25px;
}

.konten-news a:hover {
    color: rgb(73, 25, 185);
    transition: 0.3s;
    text-decoration: underline;
}

.konten-news:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.1);
    transition: 0.3s;
}

.panah p {
    position: absolute;
    top: 20px;
    right: 88px;
}

.container-news i {
    margin-right: 10px;
    margin-left: -20px;
}

.panah i:hover {
    opacity: 0.5;
}