*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}
/*Bagian Header */
.container {
  width: 80%;
  margin: auto;
}
header {
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 10;
  background-color: #eefbff;
}
.menu-icon {
  color: black;
  float: right;
  font-size: 25px;
  display: none;
  line-height: 45px;
  padding-right: 30px;
}
.header-logo {
  font-size: 17px;
  /* padding-left: 150px; */
  float: left;
  line-height: 50px;
}
.header-logo h1 {
    color: black;
    display: inline-block;
    text-decoration: none;
    font-family: helvetica;
    font-weight: bold;
}
.header-menu {
  float: right;
}
.header-menu li {
  float: left;
  list-style: none;
  padding-right: 30px;
  display: block;
  line-height: 50px;
  font-weight: bold;
}
.header-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/*Bagian top wrapper*/
.top-wrapper {
  width: 100%;
  height: 420px;
  background-image: url("gambar/top-background.png");
  background-size: cover;
}
.top-wrapper img {
  height: 620px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  position: absolute;
  left: 30%;
  right: 30%;
}
.top-wrapper h1 {
  text-align:center;
  position: relative;
  padding-top: 90px;
}
/*Bagian prevention*/
.prevent {
	background-color: #eefbff;
}
.judul-prevent {
	color: #423f54;
	border-bottom: 1.5px solid #423f54;
	text-align: center;
	margin: 0px 75px;
	padding: 10px 0px;
}
.isi-prevent {
	display: flex;
	justify-content: center;
}
img {
	height: 120px;
	width: 100px;
}
.prevent-icon {
	margin: 55px 50px;
	background-color: white;
	text-align: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 25px;
    cursor: pointer;

}
.prevent-icon:hover {
	box-shadow:  0px 0px 30px 1px rgba(0,0,0,0.3);
	opacity: 0,5;
}
.prevent-icon p {
	font-size: 15px;
	color: #6184c9;
}
.prevent a {
  text-decoration: none;
  color: #423f54;
}
.muncul {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,.3);
	z-index: 9;
	cursor: default;
}
.muncul:target {
	height: auto;
	width: auto;
    left: 0;
    bottom: 0;
    animation: animasi 1s;
}
.muncul img {
	margin-top: 100px;
	max-height: 100%;
	height: 400px;
	width: 350px;
}
.muncul p {
	font-size: 35px;
	color: white;
}
.muncul .close {
	position: absolute;
	top: 120px;
	right: 35%;
	color: white;
	font-size: 20px;
}

/*animasi*/
@keyframes animasi {

	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1
	}
}

/*Bagian news*/
#contact{
    background-color: #eefbff;
    overflow: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
#contact h1{
    text-align: center;
    font: 20px bold;
    font-family: Helvetica;
    font-weight: bold;
    padding-bottom: 20px;
}
.container-contact{
    margin-left: 25%;
    margin-right: 25%;
}
input[type=text],input[type=email]{
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    width: 100%;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 0 20px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    resize: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
  }
  input[type=submit]{
    background-color: #6c63ff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    float: right;
  }
  form p {
    padding: 6px 0;
    font-size: 12px;
  }
  .news-wrapper {
    width: 100%;
    background-color: #b9e5ee;
    height: 540px;
    text-align: center;
}

.container-news h1 {
    text-align: center;
    font: 30px/50px;
    font-family: Helvetica;
    color: black;
    /* color: rgba(66, 63, 84, .9);
    border-bottom: 1.5px solid rgb(10, 10, 53); */
    display: inline-block;
    padding: 30px 0 20px 0;
}

.konten-news {
    width: 30%;
    height: 175px;
    overflow: hidden;
    border-radius: 20px;
    text-align: left;
    margin: 0 auto;
    background-color: #f7f9fd;
    /* background: -moz-linear-gradient(45deg, #FFFDFA 0%, #F5F5F5 50%, #FFFDFA 100%);
    background: -webkit-linear-gradient(45deg, #FFFDFA 0%, #F5F5F5 50%, #FFFDFA 100%);
    background: linear-gradient(45deg, #FFFDFA 0%, #F5F5F5 50%, #FFFDFA 100%); */
    cursor: pointer;
}

.container-konten-news {
    display: flex;
    width: 80%;
    height: 420px;
    box-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 15px auto 0;
}

.konten-news h2 {
    font: 18px/24px helvetica;
    padding: 15px 20px 0;
    color: #423f54;
    font-weight: bold;
}

.konten-news p {
    padding: 10px 20px;
    font-size: 15px;
    text-align: justify;
    color: #423f54;
}

.konten-news a {
    text-decoration: none;
    color: #423f54;
}

.panah i {
    position: absolute;
    top: 5px;
    right: 25px;
}

.konten-news a:hover {
    color: rgb(73, 25, 185);
    transition: 0.3s;
    text-decoration: underline;
}

.konten-news:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.1);
}

.panah p {
    position: absolute;
    top: 20px;
    right: 88px;
}

.container-news i {
    margin-right: 10px;
    margin-left: -20px;
}

.panah i:hover {
    opacity: 0.5;
}
/*Bagian Footer*/
footer {
  height: 220px;
  width: 100%;
  background-color: #1a3a60;
  color: #fff;
  bottom: 0;
  padding-top: 50px;
}
footer nav {
  width: 80%;
  margin: auto;
}

.listing {
  width: 33.3%;
}
.footer-list {
  float: left;
}
.footer-list a {
  text-decoration: none;
  color: white;
}
.footer-list h2 {
  margin-bottom: 20px;
  /* padding-bottom: 20px; */
  /* padding-left: 40px; */
}
.footer-list ul {
  margin: 0;
  padding: 0;
}
.footer-list li {
  padding-bottom: 5px;
  list-style: none;
}
.footer-list3 li {
  float: left;
  padding-right: 20px;
}
